{
  "require": [
    "@babel/register"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "source/**/*.js"
  ],
  "exclude": [
    "DOM/**/*.js",
    "react/**/*.js",
    "utility/throttle.js",
    "**/*.test.js"
  ],
  "check-coverage": true,
  "lines": "100",
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "all": true
}
